body {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.layout {
  border: 2px solid black;
  width: 250px;
  height: 250px;
  padding: 5px;
}

.box {
  background: lightgray;
  border: 1px solid black;
  text-align: center;
}

.l1 .header {
  height: 40px;
  margin-bottom: 5px;
}
.l1 .sidebar {
  width: 60px;
  height: 150px;
  float: left;
  margin-right: 5px;
}
.l1 .main {
  height: 150px;
  overflow: hidden;
}
.l1 .footer {
  clear: both;
  height: 40px;
  margin-top: 5px;
}

.l2 .header {
  height: 40px;
  margin-bottom: 5px;
}
.l2 .main1 {
  float: left;
  width: 75px;
  height: 150px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.l2 .main2 {
  float: left;
  width: 75px;
  height: 150px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.l2 .sidebar {
  float: left;
  width: 75px;
  height: 150px;
  margin-bottom: 5px;
}
.l2 .footer {
  clear: both;
  height: 40px;
  margin-top: 15px;
}

.l3 .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}
.l3 .header {
  height: 40px;
  margin-bottom: 5px;
  overflow: hidden;
}
.l3 .sidebar {
  float: left;
  width: 60px;
  height: 150px;
  margin-right: 5px;
}
.l3 .main {
  height: 150px;
  overflow: hidden;
}
.l3 .footer {
  clear: both;
  height: 40px;
  margin-top: 5px;
  margin-right: 45px;
}
.l3 .circle2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: right;
  margin-top: -40px;
}
